<h2>LOFTY content</h2>
<div>
	
<!-- BEGIN Inchoo Facebook Connect -->
<div id="fb-root"></div>
<script type="text/javascript">
//<![CDATA[
window.fbAsyncInit = function() {
	FB.init({
		appId		: "515253441846801",
		channelUrl	: 'http://www.lofty.com/inchoo_facebook/channel/index/locale/en_US/',
		status		: true,
		cookie		: true,
		oauth		: true,
		xfbml		: true
	});
	document.fire("facebook:fbAsyncInit");
};

(function(d){
	var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
	js = d.createElement('script'); js.id = id; js.async = true;
	js.src = "//connect.facebook.net/en_US/all.js";
	d.getElementsByTagName('head')[0].appendChild(js);
}(document));

document.observe('click', function(e){
	var target = e.findElement('a[rel^=facebook-connect]') || e.findElement('button[rel^=facebook-connect]');
	if (target && target.readAttribute('rel')=='facebook-connect') {
		e.stop();
		try{
			FB.login(function(response){
				if(response.status=='connected') {
                    					Mage.Cookies.set('fb-referer', 'aHR0cHM6Ly93d3cubG9mdHkuY29tL2N1c3RvbWVyL2FjY291bnQv');
					setLocation('https://www.lofty.com/inchoo_facebook/customer_account/connect/');
				}
			}, {scope: "email,user_birthday"});
		}catch(error){}
	}
});
//]]>
</script>
<!-- END Inchoo Facebook Connect -->
<div class="header-wrapper"></div>
<div id="slidepanel" class="mobileMenu cb_slide_panel panel_left">
    <a href="#" class="close"></a>
    <div class="goBack"></div>
    <div class="menuTitle">
        Menu
    </div>
            <ul>
        <li><a class="triggerCategs" href="#">Browse categories</a></li>
                <li><a href="http://www.lofty.com/nproducts/">New arrivals</a></li>
                <li><a href="#" class="aHIW">How It Works</a></li>
                <li><a href="/keyword">Keyword Alerts</a></li>
                <li><a href="#" class="aFEL">Sell</a></li>
    </ul>
    <ul class="categs">
                                                        <li>
                                <a title="FINE ART" href="http://www.lofty.com/fine-art.html">FINE ART</a></li>
                                                                    <li>
                                <a title="PRINTS AND PHOTOGRAPHY" href="http://www.lofty.com/prints-photography.html">PRINTS AND PHOTOGRAPHY</a></li>
                                                                    <li>
                                <a title="FURNITURE AND RUGS" href="http://www.lofty.com/furniture-and-rugs.html">FURNITURE AND RUGS</a></li>
                                                                    <li>
                                <a title="DECORATIVE ARTS" href="http://www.lofty.com/decorative-arts.html">DECORATIVE ARTS</a></li>
                                                                    <li>
                                <a title="JEWELRY" href="http://www.lofty.com/jewelry.html">JEWELRY</a></li>
                                                                    <li>
                                <a title="MORE" href="http://www.lofty.com/more.html">MORE</a></li>
                                                </ul>
</div>
<div class="container">
        <noscript>
        <div class="global-site-notice noscript">
            <div class="notice-inner">
                <p>
                    <strong>JavaScript seems to be disabled in your browser.</strong><br />
                    You must have JavaScript enabled in your browser to utilize the functionality of this website.                </p>
            </div>
        </div>
    </noscript>
    <div class="page">
        
    <div class="header-container">
        <div class="header">
            <div class="quick-access navbar" role="navigation">
                <div class="header-wrapper-mob">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="logo">
                        <span style="position: absolute; left: -9000px;">Lofty</span>
                                                    <a href="http://www.lofty.com/" title="Lofty - The Trusted Marketplace for fine arts, antiques, and collectibles" class="logo">
                                <img src="http://images.lofty.com/skin/frontend/lofty/lofty/img/logo.png" alt="Lofty - The Trusted Marketplace for fine arts, antiques, and collectibles" />
                            </a>
                                            </div>
                    <div class="logo-small">
                        <span style="position: absolute; left: -9000px;">Lofty</span>
                        <a href="http://www.lofty.com/" title="Lofty - The Trusted Marketplace for fine arts, antiques, and collectibles" class="logo">
                            <img src="http://images.lofty.com/skin/frontend/lofty/lofty/img/logo-small.png" alt="Lofty - The Trusted Marketplace for fine arts, antiques, and collectibles" />
                        </a>
                    </div>
                    <div class="form-language">
    <select class="selectpicker" id="select-language" title="Your Language" onchange="window.location.href=this.value">
                    <option value="http://www.lofty.com/about-lofty/" selected="selected">English</option>
                    <option value="http://www.lofty.com/cn/about-lofty/">Chinese</option>
                    <option value="http://www.lofty.com/ru/about-lofty/">Russian</option>
        </select>
</div>
                    <div class="cart-button right">
                        <ul class="nav navbar-nav right links">
        		        <li class="first" id="top-link-cart">
                                <a rel="nofollow" href="https://www.lofty.com/checkout/cart/" title="Shop at Lofty.com" class="top-link-cart">
                    Cart                </a>
                            </li>
            </ul>
                    </div>
                    <ul class="nav navbar-nav right links">
        		        <li class="first" >
                                <a rel="nofollow" href="http://www.lofty.com/" title="Lofty - The Trusted Marketplace for fine arts, antiques, and collectibles" >
                    Home                </a>
                            </li>
                		        <li >
                                <a rel="nofollow" href="https://www.lofty.com/customer/account/create/" title="Register at Lofty.com" >
                    Register                </a>
                            </li>
                		        <li  class="sign-in">
                                <a rel="nofollow" href="https://www.lofty.com/customer/account/login/" title="Sign in at Lofty.com" >
                    Sign In                </a>
                            </li>
                		        <li id="how_it_works">
                                <a rel="nofollow" href="/about-lofty/" title="How It Works" >
                    How It Works                </a>
                            </li>
                		        <li id="free-evaluation-link">
                                <a rel="nofollow" href="/sell-fine-art/" title="Start Selling - Sell at Lofty.com" >
                    Start Selling                </a>
                            </li>
                	    </ul>
                    <div class="search_mini_form mobileOnly"></div>
<form id="search_mini_form" action="http://www.lofty.com/catalogsearch/result/" method="get">
    <div class="form-search">
        <label for="search">Search:</label>
        <input type="hidden" name="dir" value="desc" />
        <input type="hidden" name="order" value="relevance" />
        <input id="search" type="text" name="q" value="" class="input-text" maxlength="128" placeholder="Search" />
        <button type="submit" title="Search" class="button"></button>
        <div id="search_autocomplete" class="search-autocomplete"></div>
<!--        <script type="text/javascript">-->
<!--        //<![CDATA[-->
<!--            var searchForm = new Varien.searchForm('search_mini_form', 'search', '--><!--');-->
<!--            searchForm.initAutocomplete('--><!--', 'search_autocomplete');-->
<!--        //]]>-->
<!--        </script>-->
    </div>
</form>
                    <div class="adv-radio">
                                            </div>
                </div>
            </div>
                <div class="top-menu-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 navbar-wrapper">
                    <div class="navbar-collapse collapse dcjq-mega-menu" id="bs-example-navbar-collapse-1">
                        <ul class="top-menu nav navbar-nav  menu" id="mega-menu">
	                                                                                    <li class="level0 nav-1 level-top first parent">
                                    <a title="FINE ART" href="http://www.lofty.com/fine-art.html"
                                       class="level-top">
                                        <h2>FINE ART</h2>
                                    </a>
                                                                                    <ul class="submenu">
                                                    <span class="arrow"></span>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/fine-art/old-master-drawings-and-paintings.html">Old Master Drawings and Works on Paper</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/fine-art/contemporary-art.html">Contemporary Art</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/fine-art/american-paintings.html">American Paintings</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/fine-art/american-drawings-and-works-on-paper.html">American Drawings and Works on Paper</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/fine-art/american-sculpture.html">American Sculpture</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/fine-art/19th-20th-c-european-paintings.html">19th & 20th C European Paintings</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/fine-art/19th-20th-c-european-drawings-and-works-on-paper.html">19th & 20th C European Drawings and Works on Paper</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/fine-art/chinese-paintings-and-works-on-paper.html">Chinese Paintings and Works on Paper</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/fine-art/european-sculpture.html">European Sculpture</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/fine-art/japanese-paintings-and-works-on-paper.html">Japanese Paintings and Works on Paper</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/fine-art/other-asian-paintings-and-works-on-paper.html">Other Asian Paintings and Works on Paper</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/fine-art/asian-sculpture.html">Asian Sculpture</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/fine-art/old-master-paintings.html">Old Master Paintings</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/fine-art/latin-american-fine-art.html">Latin American Fine Art</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/fine-art/russian-fine-art.html">Russian Fine Art</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/fine-art/southeast-asian-fine-art.html">Southeast Asian Fine Art</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/fine-art/other-fine-art.html">Other Fine Art</a>
                                                        </li>
                                                                                                    </ul>
                                                                    </li>
	                                                                                        <li class="level0 nav-2 level-top first parent">
                                    <a title="PRINTS AND PHOTOGRAPHY" href="http://www.lofty.com/prints-photography.html"
                                       class="level-top">
                                        <h2>PRINTS AND PHOTOGRAPHY</h2>
                                    </a>
                                                                                    <ul class="submenu">
                                                    <span class="arrow"></span>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/prints-photography/old-master-prints.html">Old Master Prints</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/prints-photography/19th-20th-c-european-prints.html"> 19th & 20th C European Prints</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/prints-photography/19th-20th-c-american-prints.html">19th & 20th C American Prints</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/prints-photography/other-prints.html">Other Prints</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/prints-photography/19th-c-photography.html">19th C Photography</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/prints-photography/20th-c-photography.html">20th C Photography</a>
                                                        </li>
                                                                                                    </ul>
                                                                    </li>
	                                                                                        <li class="level0 nav-3 level-top first parent">
                                    <a title="FURNITURE AND RUGS" href="http://www.lofty.com/furniture-and-rugs.html"
                                       class="level-top">
                                        <h2>FURNITURE AND RUGS</h2>
                                    </a>
                                                                                    <ul class="submenu">
                                                    <span class="arrow"></span>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/furniture-and-rugs/clocks.html">Clocks</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/furniture-and-rugs/other-decor.html">Other Furniture</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/furniture-and-rugs/american-furniture.html">American Furniture</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/furniture-and-rugs/continental-furniture.html">Continental Furniture</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/furniture-and-rugs/english-furniture.html">English Furniture</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/furniture-and-rugs/lighting.html">Lighting</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/furniture-and-rugs/mirrors.html">Mirrors</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/furniture-and-rugs/rugs.html">Rugs</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/furniture-and-rugs/20th-21st-c-design.html">20th & 21st C Design</a>
                                                        </li>
                                                                                                    </ul>
                                                                    </li>
	                                                                                        <li class="level0 nav-4 level-top first parent">
                                    <a title="DECORATIVE ARTS" href="http://www.lofty.com/decorative-arts.html"
                                       class="level-top">
                                        <h2>DECORATIVE ARTS</h2>
                                    </a>
                                                                                    <ul class="submenu">
                                                    <span class="arrow"></span>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/other-decorative-arts.html">Other Decorative Arts</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/silver.html">Silver</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/english-ceramics.html">English Ceramics</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/american-ceramics.html">American Ceramics</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/continental-ceramics.html">Continental Ceramics</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/chinese-ceramics.html">Chinese Ceramics</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/japanese-ceramics.html">Japanese Ceramics  </a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/other-ceramics.html">Other Ceramics</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/american-glass.html">American Glass</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/continental-glass.html">Continental Glass</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/other-glass.html">Other Glass</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/american-silver.html">American Silver</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/continental-silver.html">Continental Silver</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/asian-silver.html">Asian Silver</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/russian-silver-and-works-of-art.html">Russian Silver and Works of Art</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/other-silver.html">Other Silver</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/objects-of-vertu.html">Objects of Vertu</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/20th-21st-c-design.html"> 20th & 21st C Design</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/asian-stone-and-jade-carvings.html">Asian Stone and Jade Carvings</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/southeast-asian-art.html">Southeast Asian Art</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/other-asian-art.html">Other Asian Art</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/judaica.html">Judaica</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/woodenware.html">Woodenware</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/metalware.html">Metalware</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/asian-metalware.html">Asian Metalware</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/clocks-and-automata.html">Clocks and Automata</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/architectural.html">Architectural</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/textiles.html">Textiles</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/other.html">Other</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/fireplace-equipment.html">Fireplace Equipment</a>
                                                        </li>
                                                                                                    </ul>
                                                                    </li>
	                                                                                        <li class="level0 nav-5 level-top first parent">
                                    <a title="JEWELRY" href="http://www.lofty.com/jewelry.html"
                                       class="level-top">
                                        <h2>JEWELRY</h2>
                                    </a>
                                                                                    <ul class="submenu">
                                                    <span class="arrow"></span>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/jewelry/bracelets.html">Bracelets</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/jewelry/brooches.html">Brooches</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/jewelry/rings.html">Rings</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/jewelry/earrings.html">Earrings</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/jewelry/necklaces.html">Necklaces</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/jewelry/other-jewelery.html">Other Jewelery</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/jewelry/wristwatches.html">Watches</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/jewelry/other.html">Other</a>
                                                        </li>
                                                                                                    </ul>
                                                                    </li>
	                                                                                        <li class="level0 nav-6 level-top first parent">
                                    <a title="MORE" href="http://www.lofty.com/more.html"
                                       class="level-top">
                                        <h2>MORE</h2>
                                    </a>
                                                                                    <ul class="submenu">
                                                    <span class="arrow"></span>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/more/african-and-tribal-art.html">African and Tribal Art</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/more/militaria.html">Militaria</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/more/books-manuscripts.html">Books & Manuscripts</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/more/coins-and-paper-money.html">Coins and Paper Money</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/more/dolls-toys.html">Dolls & Toys</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/more/musical-instrument.html">Musical instrument</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/more/other.html">Other</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/more/comics-and-animation-art.html">Comics and Animation Art</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/more/entertainment-memorabilia.html">Entertainment Memorabilia</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/more/native-american-art.html">Native American Art</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/more/rock-and-roll.html">Rock and Roll</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/more/sports-memorabilia.html">Sports Memorabilia</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/more/fashion.html">FASHION</a>
                                                        </li>
                                                                                                    </ul>
                                                                    </li>
	                                                                                    <li class="level nav-0"><a class="level-top" href="http://www.lofty.com/nproducts/"><h2>New Arrivals</h2></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
                    </div>
        <div class="headerSearch">
            <div class="search_mini_form mobileOnly"></div>
<form id="search_mini_form" action="http://www.lofty.com/catalogsearch/result/" method="get">
    <div class="form-search">
        <label for="search">Search:</label>
        <input type="hidden" name="dir" value="desc" />
        <input type="hidden" name="order" value="relevance" />
        <input id="search" type="text" name="q" value="" class="input-text" maxlength="128" placeholder="Search" />
        <button type="submit" title="Search" class="button"></button>
        <div id="search_autocomplete" class="search-autocomplete"></div>
<!--        <script type="text/javascript">-->
<!--        //<![CDATA[-->
<!--            var searchForm = new Varien.searchForm('search_mini_form', 'search', '--><!--');-->
<!--            searchForm.initAutocomplete('--><!--', 'search_autocomplete');-->
<!--        //]]>-->
<!--        </script>-->
    </div>
</form>
        </div>
    </div>
    <div class="banner-cms">
                            </div>

    
    
        
    <script src="http://images.lofty.com/skin/frontend/lofty/lofty/js/header.js"></script>

        <div class="main-container col1-layout">
            <div class="main">
                <div class="col-main">
                        <div class="breadcrumbs" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <div class="row">
            <div class="col-sm-6">
                                                            <a href="http://www.lofty.com/" title="Go to Home Page" itemprop="url"><span itemprop="title">Home</span></a>
                                                                <span>&nbsp;&nbsp;/&nbsp;&nbsp;</span>
                                                                                <span itemprop="title">What is Lofty?</span>
                                                                    </div>
        </div>
    </div>
                            <div class="row cms-title-row">
            <div class="page-title col-sm-12">
                <h1 class="lora">What is Lofty?</h1>
            </div>
        </div>
<div class="std"><div class="row">
<div class="col-sm-3 hidden-xs"><ul class="hiw-menu">
<li class="hiw-menu-item"><a href="/about-lofty" class="active">About Lofty</a></li>
<li class="hiw-menu-item"><a href="/how-selling-works">How Selling Works</a></li>
<li class="hiw-menu-item"><a href="/our-experts">Our Experts</a></li>
<li class="hiw-menu-item"><a href="/our-team">Our Team</a></li>
<li class="hiw-menu-item"><a href="/testimonials">Testimonials</a></li>
<li class="hiw-menu-item hiw-bottom"><a href="/buying-guides">Buying Guides</a>
<ul class="hiw-submenu">
<li class="hiw-submenu-item first"><a href="/how-to-buy-american-furniture">American Furniture</a></li>
<li class="hiw-submenu-item last"><a href="/how-to-buy-fine-jewelry">Fine Jewelry</a></li>
</ul>
</li>
<li class="hiw-menu-item hiw-top hiw-bottom"><a href="/selling-guides">Selling Guides</a>
<ul class="hiw-submenu">
<li class="hiw-submenu-item first"><a href="/how-to-sell-20th-century-photography">20th Century Photography</a></li>
<li class="hiw-submenu-item last"><a href="/how-to-sell-american-drawings-and-works-on-paper">American Drawings and Works on Paper</a></li>
<li class="hiw-submenu-item"><a href="/how-to-sell-american-furniture">American Furniture</a></li>
<li class="hiw-submenu-item"><a href="/how-to-sell-american-paintings">American Paintings</a></li>
<li class="hiw-submenu-item"><a href="/how-to-sell-american-silver">American Silver</a></li>
<li class="hiw-submenu-item"><a href="/how-to-sell-antique-silver">Antique Silver</a></li>
<li class="hiw-submenu-item"><a href="/how-to-sell-british-silver">British Silver</a></li>
<li class="hiw-submenu-item"><a href="/how-to-sell-carpets-rugs">Carpets and Rugs</a></li>
<li class="hiw-submenu-item"><a href="/how-to-sell-ceramics-and-porcelain">Ceramics and Porcelain</a></li>
<li class="hiw-submenu-item"><a href="/how-to-sell-chinese-art">Chinese Art</a></li>
<li class="hiw-submenu-item"><a href="/how-to-sell-continental-pottery">Continental Pottery</a></li>
<li class="hiw-submenu-item"><a href="/how-to-sell-continental-silver">Continental Silver</a></li>
<li class="hiw-submenu-item"><a href="/how-to-sell-costume-jewelry">Costume Jewelry</a></li>
<li class="hiw-submenu-item"><a href="/how-to-sell-dolls-and-toys">Dolls and Toys</a></li>
<li class="hiw-submenu-item"><a href="/how-to-sell-european-sculpture">European Sculpture</a></li>
<li class="hiw-submenu-item"><a href="/how-to-sell-fine-jewelry">Fine Jewelry</a></li>
<li class="hiw-submenu-item"><a href="/how-to-sell-glass">Glass</a></li>
<li class="hiw-submenu-item"><a href="/how-to-sell-objects-de-vertu">Objects de Vertu</a></li>
<li class="hiw-submenu-item"><a href="/how-to-sell-prints">Prints</a></li>
<li class="hiw-submenu-item"><a href="/how-to-sell-russian-silver">Russian Silver</a></li>
<li class="hiw-submenu-item"><a href="/how-to-sell-sculpture">Sculpture</a></li>
<li class="hiw-submenu-item last"><a href="/how-to-sell-watches">Watches</a></li>
</ul>
</li>
<li class="hiw-menu-item hiw-top"><a href="http://www.lofty.com/blog/interviews/" target="_blank">Expert Interviews</a></li>
<li class="hiw-menu-item"><a href="https://lofty.zendesk.com/hc/en-us" target="_blank">Need Help?</a></li>
</ul></div>
<div class="col-sm-9 col-xs-12 cms-body">
<p>Lofty is an expert-reviewed, online marketplace for valuable fine art, antiques and collectibles. Each Lofty item is reviewed and valued by Lofty's carefully selected network of experts, which includes qualified appraisers, current and former auction house specialists, reputable dealers, and other art world professionals with decades of experience evaluating items in their specialties. We believe buying art and antiques should come with complete peace of mind, and stand behind this commitment with a 5-year Authenticity Guarantee and a 100% Money Back Satisfaction Guarantee within seven days of delivery. Building sustainable, trusting relationships with clients is Lofty&rsquo;s top priority.<br /><br /></p>
<p>If you are interested in purchasing items, visit <a href="http://www.lofty.com/how-buying-works">How Buying Works on Lofty</a>.<br /><br /></p>
<p>If you are interested in selling items, visit <a href="http://www.lofty.com/how-selling-works">How Selling Works on Lofty</a>.<br /><br /></p>
<p>To read about the Lofty Team, visit <a href="http://www.lofty.com/our-team">Our Team</a>.<br /><br /></p>
<h5>Our Network of Experts</h5>
<p>Lofty's Network of Experts includes qualified appraisers, current and former auction house specialists, reputable dealers, and other art world professionals with decades of experience evaluating items in their specialties. They have worked at institutions including Sotheby's, Christies and Antiques Roadshow.<br /><a title="Our Experts" href="http://www.lofty.com/our-experts">Learn more about our Network of Experts</a>.</p>
<p>&nbsp;</p>
<h5>Our Satisfaction Guarantee</h5>
<p>Lofty's satisfaction guarantee is our pledge to stand behind the items we sell. Our guarantee is that you can return your purchase for any reason within 7 days of delivery for a full refund. If the item is as described, than we ask you to pay for return shipping. If the item is different than described, then we will pay for return shipping as well as refund the delivery shipping cost.</p>
<p>&nbsp;</p>
<h5>Our Authenticity Guarantee</h5>
<p>Lofty's Authenticity Guarantee is a pledge to stand behind the items we sell. If any item you purchase is discovered to be different from the way we described it (based on the Title and Subtitle of the item), then for a period of up to five years from the date of purchase, we will refund 100% of your purchase price. For full details, please see our <a title="Terms and Conditions" href="http://www.lofty.com/terms-of-use">Terms and Conditions.</a></p>
<p>&nbsp;</p>
<p>For more information, please visit our <a href="http://www.lofty.com/faq">Frequently Asked Questions</a>.<br /><br /></p>
<h5>Testimonials</h5>
<img class="testimonials-bkg img-responsive" src="http://images.lofty.com/media/wysiwyg/testimonials-bkg.jpg" alt="" />
<div class="row">
<div class="col-sm-4"><img class="testimonials-img img-responsive" src="http://images.lofty.com/media/wysiwyg/testimonials-1.png" alt="" />
<p class="testimonials-author">LS, Edinburg, TX</p>
</div>
<div class="col-sm-8">
<div class="testimonials-text">
<p>I just wanted to thank you for taking the time to enlighten me on your company's background and procedures. You were very professional yet displayed kindness and respect toward your customers. I greatly admire your service!</p>
</div>
</div>
</div>
</div>
</div></div>                </div>
            </div>
        </div>
        <div class="footer-container">
    <div class="row">
        <div class="col-sm-12 col-xs-12 footer-bkg">
            <div class="footer">
                <div class="row">
                    <div class="col-sm-5 col-xs-3">
                        <div class="footer-title-border left"></div>
                    </div>
                    <div class="col-sm-2 col-xs-6">
                        <h5 class="footer-title left">As seen in</h5>
                    </div>
                    <div class="col-sm-5 col-xs-3">
                        <div class="footer-title-border left"></div>
                    </div>
                </div>
                <div class="as-seen-in row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="footer-logos">
                            <div class="footer-logo-3"></div>
                            <div class="footer-logo-1"></div>
                            <div class="footer-logo-2"></div>
                            <div class="footer-logo-4"></div>
                            <div class="footer-logo-5"></div>
                            <div class="footer-logo-6"></div>
                        </div>
                    </div>
                </div>
                <div class="footer-menu row">
                    <div class="col-sm-12 col-xs-12">
                            <div class="top-menu-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 navbar-wrapper">
                    <div class="navbar-collapse collapse dcjq-mega-menu" id="bs-example-navbar-collapse-1">
                        <ul class="top-menu nav navbar-nav  menu" id="mega-menu">
	                                                                                    <li class="level0 nav-1 level-top first parent">
                                    <a title="FINE ART" href="http://www.lofty.com/fine-art.html"
                                       class="level-top">
                                        <h2>FINE ART</h2>
                                    </a>
                                                                                    <ul class="submenu">
                                                    <span class="arrow"></span>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/fine-art/old-master-drawings-and-paintings.html">Old Master Drawings and Works on Paper</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/fine-art/contemporary-art.html">Contemporary Art</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/fine-art/american-paintings.html">American Paintings</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/fine-art/american-drawings-and-works-on-paper.html">American Drawings and Works on Paper</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/fine-art/american-sculpture.html">American Sculpture</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/fine-art/19th-20th-c-european-paintings.html">19th & 20th C European Paintings</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/fine-art/19th-20th-c-european-drawings-and-works-on-paper.html">19th & 20th C European Drawings and Works on Paper</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/fine-art/chinese-paintings-and-works-on-paper.html">Chinese Paintings and Works on Paper</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/fine-art/european-sculpture.html">European Sculpture</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/fine-art/japanese-paintings-and-works-on-paper.html">Japanese Paintings and Works on Paper</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/fine-art/other-asian-paintings-and-works-on-paper.html">Other Asian Paintings and Works on Paper</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/fine-art/asian-sculpture.html">Asian Sculpture</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/fine-art/old-master-paintings.html">Old Master Paintings</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/fine-art/latin-american-fine-art.html">Latin American Fine Art</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/fine-art/russian-fine-art.html">Russian Fine Art</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/fine-art/southeast-asian-fine-art.html">Southeast Asian Fine Art</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/fine-art/other-fine-art.html">Other Fine Art</a>
                                                        </li>
                                                                                                    </ul>
                                                                    </li>
	                                                                                        <li class="level0 nav-2 level-top first parent">
                                    <a title="PRINTS AND PHOTOGRAPHY" href="http://www.lofty.com/prints-photography.html"
                                       class="level-top">
                                        <h2>PRINTS AND PHOTOGRAPHY</h2>
                                    </a>
                                                                                    <ul class="submenu">
                                                    <span class="arrow"></span>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/prints-photography/old-master-prints.html">Old Master Prints</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/prints-photography/19th-20th-c-european-prints.html"> 19th & 20th C European Prints</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/prints-photography/19th-20th-c-american-prints.html">19th & 20th C American Prints</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/prints-photography/other-prints.html">Other Prints</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/prints-photography/19th-c-photography.html">19th C Photography</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/prints-photography/20th-c-photography.html">20th C Photography</a>
                                                        </li>
                                                                                                    </ul>
                                                                    </li>
	                                                                                        <li class="level0 nav-3 level-top first parent">
                                    <a title="FURNITURE AND RUGS" href="http://www.lofty.com/furniture-and-rugs.html"
                                       class="level-top">
                                        <h2>FURNITURE AND RUGS</h2>
                                    </a>
                                                                                    <ul class="submenu">
                                                    <span class="arrow"></span>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/furniture-and-rugs/clocks.html">Clocks</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/furniture-and-rugs/other-decor.html">Other Furniture</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/furniture-and-rugs/american-furniture.html">American Furniture</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/furniture-and-rugs/continental-furniture.html">Continental Furniture</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/furniture-and-rugs/english-furniture.html">English Furniture</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/furniture-and-rugs/lighting.html">Lighting</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/furniture-and-rugs/mirrors.html">Mirrors</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/furniture-and-rugs/rugs.html">Rugs</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/furniture-and-rugs/20th-21st-c-design.html">20th & 21st C Design</a>
                                                        </li>
                                                                                                    </ul>
                                                                    </li>
	                                                                                        <li class="level0 nav-4 level-top first parent">
                                    <a title="DECORATIVE ARTS" href="http://www.lofty.com/decorative-arts.html"
                                       class="level-top">
                                        <h2>DECORATIVE ARTS</h2>
                                    </a>
                                                                                    <ul class="submenu">
                                                    <span class="arrow"></span>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/other-decorative-arts.html">Other Decorative Arts</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/silver.html">Silver</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/english-ceramics.html">English Ceramics</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/american-ceramics.html">American Ceramics</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/continental-ceramics.html">Continental Ceramics</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/chinese-ceramics.html">Chinese Ceramics</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/japanese-ceramics.html">Japanese Ceramics  </a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/other-ceramics.html">Other Ceramics</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/american-glass.html">American Glass</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/continental-glass.html">Continental Glass</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/other-glass.html">Other Glass</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/american-silver.html">American Silver</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/continental-silver.html">Continental Silver</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/asian-silver.html">Asian Silver</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/russian-silver-and-works-of-art.html">Russian Silver and Works of Art</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/other-silver.html">Other Silver</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/objects-of-vertu.html">Objects of Vertu</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/20th-21st-c-design.html"> 20th & 21st C Design</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/asian-stone-and-jade-carvings.html">Asian Stone and Jade Carvings</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/southeast-asian-art.html">Southeast Asian Art</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/other-asian-art.html">Other Asian Art</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/judaica.html">Judaica</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/woodenware.html">Woodenware</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/metalware.html">Metalware</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/asian-metalware.html">Asian Metalware</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/clocks-and-automata.html">Clocks and Automata</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/architectural.html">Architectural</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/textiles.html">Textiles</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/other.html">Other</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/decorative-arts/fireplace-equipment.html">Fireplace Equipment</a>
                                                        </li>
                                                                                                    </ul>
                                                                    </li>
	                                                                                        <li class="level0 nav-5 level-top first parent">
                                    <a title="JEWELRY" href="http://www.lofty.com/jewelry.html"
                                       class="level-top">
                                        <h2>JEWELRY</h2>
                                    </a>
                                                                                    <ul class="submenu">
                                                    <span class="arrow"></span>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/jewelry/bracelets.html">Bracelets</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/jewelry/brooches.html">Brooches</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/jewelry/rings.html">Rings</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/jewelry/earrings.html">Earrings</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/jewelry/necklaces.html">Necklaces</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/jewelry/other-jewelery.html">Other Jewelery</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/jewelry/wristwatches.html">Watches</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/jewelry/other.html">Other</a>
                                                        </li>
                                                                                                    </ul>
                                                                    </li>
	                                                                                        <li class="level0 nav-6 level-top first parent">
                                    <a title="MORE" href="http://www.lofty.com/more.html"
                                       class="level-top">
                                        <h2>MORE</h2>
                                    </a>
                                                                                    <ul class="submenu">
                                                    <span class="arrow"></span>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/more/african-and-tribal-art.html">African and Tribal Art</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/more/militaria.html">Militaria</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/more/books-manuscripts.html">Books & Manuscripts</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/more/coins-and-paper-money.html">Coins and Paper Money</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/more/dolls-toys.html">Dolls & Toys</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/more/musical-instrument.html">Musical instrument</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/more/other.html">Other</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/more/comics-and-animation-art.html">Comics and Animation Art</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/more/entertainment-memorabilia.html">Entertainment Memorabilia</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/more/native-american-art.html">Native American Art</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/more/rock-and-roll.html">Rock and Roll</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/more/sports-memorabilia.html">Sports Memorabilia</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="http://www.lofty.com/more/fashion.html">FASHION</a>
                                                        </li>
                                                                                                    </ul>
                                                                    </li>
	                                                                                    <li class="level nav-0"><a class="level-top" href="http://www.lofty.com/nproducts/"><h2>New Arrivals</h2></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
                        <p class="footer-links"><a title="Home" href="https://www.lofty.com/">Home</a> <a href="/about-lofty">About Lofty</a> <a href="/our-team">Our Team</a><a href="https://lofty.zendesk.com/hc/en-us" target="_blank">Need Help?</a> <a class=" last" title="Contact Us" href="https://www.lofty.com/contact">Contact Lofty </a><a title="How Selling Works" href="https://www.lofty.com/index.php/how-selling-works">How Selling Works</a> <a class=" last" title="Our Experts" href="https://www.lofty.com/our-experts">Our Experts</a> <a class="last" title="Press" href="https://www.lofty.com/press">Press</a><a class="last" title="Testimonials" href="https://www.lofty.com/testimonials">Testimonials</a> <a title="Keyword Alerts" href="https://www.lofty.com/keyword">Keyword Alerts</a> <a title="Blog" href="https://www.lofty.com/blog" target="_blank">Blog</a></p>
<div class="row">
<div class="col-md-7 col-lg-5">
<p class="footer-statement">If you have any questions feel free to call us at +1<em>-</em>646<em>-</em>679<em>-</em>6510</p>
<p class="footer-low-links"><a href="https://www.lofty.com/terms-of-use"><span class=" last">Terms of Use</span></a><a href="https://www.lofty.com/privacy-policy"><span class=" last">Privacy Policy</span></a> <!--<a href="https://www.lofty.com/panel-of-expert-advisers">Panel of Expert Advisers</a>-->&copy; 2015 HAMMERLESS INC. ALL RIGHTS RESERVED.</p>
</div>                        <div class="footer-newsletter col-md-5 col-xs-8 col-xs-offset-3 col-lg-4">
<form action="https://www.lofty.com/newsletter/subscriber/new/" method="post" id="newsletter-validate-detail">
    <input type="text" name="email" id="newsletter" title="Sign up for our newsletter" class="right input-text required-entry validate-email" value="" placeholder="Subscribe to newsletter!"/>
    <button title="Subscribe" class="button">
    </button>
</form>
</div>
</div>
<script type="text/javascript">
    //<![CDATA[
    var newsletterSubscriberFormDetail = new VarienForm('newsletter-validate-detail');
    //]]>
</script>
                    </div>
                    <div class="col-sm-2 col-xs-6 footer-icons">
                        <div class="social_icons">
                            <a rel="nofollow" id="tw-icon" target="_blank" href="http://www.twitter.com/lofty">twitter</a>
                            <a rel="nofollow" id="pin-icon" target="_blank" href="http://pinterest.com/lofty/">pinterest</a>
                            <a rel="nofollow" id="fb-icon" target="_blank" href="http://www.facebook.com/lofty">facebook</a>
                        </div>
                        <a class="hidden-xs" title="Lofty.com BBB Business Review" href="http://www.bbb.org/new-york-city/business-reviews/art-galleries-dealers-and-consultants/lofty-com-in-new-york-ny-144020/#bbbonlineclick" target="_blank">
                            <img style="position: absolute; right: 25px; top: 30px;" src="http://images.lofty.com/skin/frontend/lofty/default/img/bbb-seal.png" alt="BBB-Seal" />
                        </a>
                        <a class="hidden-xs" title="Made In New York" href="http://wearemadeinny.com/made-in-ny-list" target="_blank">
                            <img style="position: absolute; right: 105px; top: 30px; opacity: 0.5; filter: alpha(opacity=50);" src="http://images.lofty.com/skin/frontend/lofty/default/img/madeinny.png" alt="BBB-Seal" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <style>
        div.footer div.row div.col-xs-4 { display: none; }
        div.footer div.as-seen-in { display: none; }
        div.footer-wrapper-top { display: none; }
    </style>
        <div id="referafriend-overlay"></div>
<div id="referafriend">
    <div id="rafContent"></div>
    <div id="rafLoadMessage">
        <img src="http://images.lofty.com/skin/frontend/lofty/default/images/opc-ajax-loader.gif" class="v-middle" alt="" /> &nbsp; Loading...    </div>
</div>
<div id="bubble-layer-overlay" style="display:none;">
    <img id="bubble-layer-loader" src="http://images.lofty.com/skin/frontend/base/default/images/bubble/layer/loader.gif" width="64" height="68">
</div>
<script type="text/javascript">
//<![CDATA[
var BubbleLayer = new BubbleLayer({
    enableAjax: true,
    enableAutoScroll: true,
    enableAjaxToolbar: false,
    currentUrl: 'http://www.lofty.com/about-lofty/',
    priceFormat: {"pattern":"$%s","precision":0,"requiredPrecision":0,"decimalSymbol":".","groupSymbol":",","groupLength":3,"integerRequired":1}});
//]]>
</script>
<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
_fbq.push(['addPixelId', '810727172304206']);
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', 'PixelInitialized', {}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=810727172304206&amp;ev=NoScript" /></noscript>

<!-- Google Code for Remarketing Tag -->
<script type="text/javascript">
var google_tag_params = {
    "ecomm_prodid": "",
    "ecomm_pagetype": "siteview",
    "ecomm_totalvalue": ""
};
</script>
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 986597069;
var google_custom_params = google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/986597069/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
            </div>
</div>
<div class="footer-wrapper hidden-xs"></div>
    <div id="nanigansImagePixel"></div>
    <script type="text/javascript">
        jQuery(window).load(function() {
            jQuery("#nanigansImagePixel").html('<img style="display:none" src="//api.nanigans.com/event.php?app_id=69440&type=visit&name=landing&extra%5Bnncid%5D=55a25bd62e43b" />');
        })
    </script>

</div>